body {
    background-color: #252c4a;
    /* background: linear-gradient(to top, #1c2b6a 0%, #252c4a 100%); */
    /* background-image: radial-gradient(#fec935 20%, transparent 0%),
                      radial-gradient(#fec935 20%, transparent 0%);
    background-position: 0 0, 30px 30px;
    background-size: 60px 60px; */
    font-family: "Work Sans", sans-serif;
    color: white;
}

h2 {
    font-size: 38px;
    font-weight: 600;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

.quiz-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-content {
    text-align: center;
    width: 600px;
}

.quiz-header {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.timer {
    letter-spacing: 1px;
}

.question-label {
    margin-right: auto;
}

.question {
    margin: 27px 10px 20px;
}

.answer-container {
    display: flex;
    flex-wrap: wrap;
}

.answer-card {
    width: calc(50% - 20px);
    padding: 30px 0px;
    background-color: white;
    color: #393939;
    margin: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
}

.answer-card:hover {
    cursor: pointer;
}

.answer-card p {
    font-size: 29px;
    font-weight: bold;
}

.correct {
    background-color: #32d29a;
    color: white;
}

.incorrect {
    background-color: #ff6667;
    color: white;
}

.correct i, .incorrect i {
    position: absolute;
    font-size: 31px;
    right: 20px;
    top: 29px;
}

.correct-selector {
    border-radius: 5px solid #00d188;
    box-shadow: 0 0 0 5px #00d188 inset;
}